<div>
  <%= render partial:"layouts/navbar" %>
  <div class="row" style="margin-top:100px">
    <div class="col-md-2" style="margin-left:50px">
      <%= render 'layouts/sidebar' %>
    </div>
    <div class="col-md-8">
      <p id="notice"><%= notice %></p>
      <h1 class="admin-title">View Umrah Package</h1>
      <%= render partial: "umrah_packages/common/package_form", locals: { disabled: true} %>
    </div>
  </div>
</div>
