<div class="row">
  <div class="col-md-8">
    <h1>Editing Umrah Package</h1>
    <%= link_to 'Show', @umrah_package %> |
    <%= link_to 'Back', admin_umrah_packages_path %>
    <%= render partial: "admin/umrah_packages/common/package_form", locals: { disabled: false } %>
  </div>
</div>
