<div class="row">
  <div class="col-md-8">
    <p id="notice"><%= notice %></p>
    <h1 class="admin-title">Umrah Packages</h1>
    <br>
    <h1> Create New Package</h1>
    <%= render partial: "admin/umrah_packages/common/package_form", locals: { disabled: false } %>
  </div>
</div>
