<div id="home_carousel" class="carousel slide carousel-fade" data-ride="carousel">

  <ol class="carousel-indicators container">
    <li data-target="#home_carousel" data-slide-to="0" class="active"></li>
    <li data-target="#home_carousel" data-slide-to="1"></li>
    <li data-target="#home_carousel" data-slide-to="2"></li>
  </ol>

  <div class="carousel-inner">

    <div class="d-block w-100 carousel-item active">
      <div class="carousel-image carousel-image-one">
        <div class="carousel-container ">
          <div class="container col-md-5">
            <h2 class="animate__animated animate__fadeInDown carousel-main-title">Dipercayai Ribuan Jemaah</h2>
            <p class="animate__animated animate__fadeInUp carousel-description"> Lebih 10 ribu jemaah telah merasai kemanisan umrah bersama kami.</p>
            <a href="#main_features" class="btn rounded-pill carousel-button">Info Lanjut</a>
          </div>
        </div>
      </div>
    </div>

    <div class="carousel-item ">
      <div class="d-block w-100 carousel-image carousel-image-two ">
        <div class="carousel-container ">
          <div class="container col-md-5">
            <h2 class="animate__animated animate__fadeInDown carousel-main-title">Rasai Umrah Paling Nikmat</h2>
            <p class="animate__animated animate__fadeInUp carousel-description">Itu tawaran kami. Supaya anda dapat
              fokus ibadah umrah, kami uruskan hal anda yang lain.</p>
            <a href="#main_features" class="btn rounded-pill carousel-button">Lihat tawaran kami</a>
          </div>
        </div>
      </div>
    </div>

    <div class="carousel-item">
      <div class="d-block w-100 carousel-image carousel-image-three ">
        <div class="carousel-container ">
          <div class="container col-md-5">
            <h2 class="animate__animated animate__fadeInDown carousel-main-title">Pakej Murah Hotel Dekat</h2>
            <p class="animate__animated animate__fadeInUp carousel-description">Hotel 50 meter 5 bintang - Hotel Safwa.
              Selesa dan mudah.<br> Makanan hotel sepenuhnya.<br> Best kan?</p>
            <a href="#main_features" class="btn rounded-pill carousel-button">Best! Klink sini</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <a class="carousel-control-prev" href="#home_carousel" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon bi bi-chevron-left" aria-hidden="true"></span>
  </a>

  <a class="carousel-control-next" href="#home_carousel" role="button" data-slide="next">
    <span class="carousel-control-next-icon bi bi-chevron-right" aria-hidden="true"></span>
  </a>
</div>
