<section id="main-features">
<div class="main-features-background">
  <div class="container" >
    <div class="row main-features-background " >
      <div class=" text-white col-lg-4 box nav-bar-background " style="text-align: center">
        <div class="offset-md-1 " style="margin:8rem 1rem 4rem 1rem">
          <svg xmlns="http://www.w3.org/2000/svg" width="60" height="60" fill="rgb(255, 180, 4)" class="bi bi-coin" viewBox="0 0 16 16">
            <path d="M5.5 9.511c.076.954.83 1.697 2.182 1.785V12h.6v-.709c1.4-.098 2.218-.846 2.218-1.932 0-.987-.626-1.496-1.745-1.76l-.473-.112V5.57c.6.068.982.396 1.074.85h1.052c-.076-.919-.864-1.638-2.126-1.716V4h-.6v.719c-1.195.117-2.01.836-2.01 1.853 0 .9.606 1.472 1.613 1.707l.397.098v2.034c-.615-.093-1.022-.43-1.114-.9H5.5zm2.177-2.166c-.59-.137-.91-.416-.91-.836 0-.47.345-.822.915-.925v1.76h-.005zm.692 1.193c.717.166 1.048.435 1.048.91 0 .542-.412.914-1.135.982V8.518l.087.02z"/>
            <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
            <path d="M8 13.5a5.5 5.5 0 1 1 0-11 5.5 5.5 0 0 1 0 11zm0 .5A6 6 0 1 0 8 2a6 6 0 0 0 0 12z"/>
          </svg>
          <h5 class="card-title">Jimat Dan Selesa</h5>
          <p class="card-description">Pakej harga jimat dengan tiada kos tersembunyi.</p>
        </div>
      </div>

      <div class="text-white col-lg-4 box main-features-background">
        <div class="offset-md-1" style="margin:8rem 1rem 4rem 1rem;text-align: center">
          <svg xmlns="http://www.w3.org/2000/svg" width="60" height="60" fill="rgb(255, 180, 4)" class="bi bi-geo-alt-fill" viewBox="0 0 16 16">
            <path d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10zm0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6z"/>
          </svg>
          <h5 class="card-title">Hotel Dekat</h5>
          <p class="card-description">Selesa dan sesuai untuk Warga Emas & OKU.</p>
        </div>
      </div>

      <div class="text-white col-lg-4 box main-features-background">
        <div class="offset-md-1" style="margin:8rem 1rem 4rem 1rem;text-align: center">
          <svg xmlns="http://www.w3.org/2000/svg" width="60" height="60" fill="rgb(255, 180, 4)" class="bi bi-cup-straw" viewBox="0 0 16 16">
            <path d="M13.902.334a.5.5 0 0 1-.28.65l-2.254.902-.4 1.927c.376.095.715.215.972.367.228.135.56.396.56.82 0 .046-.004.09-.011.132l-.962 9.068a1.28 1.28 0 0 1-.524.93c-.488.34-1.494.87-3.01.87-1.516 0-2.522-.53-3.01-.87a1.28 1.28 0 0 1-.524-.93L3.51 5.132A.78.78 0 0 1 3.5 5c0-.424.332-.685.56-.82.262-.154.607-.276.99-.372C5.824 3.614 6.867 3.5 8 3.5c.712 0 1.389.045 1.985.127l.464-2.215a.5.5 0 0 1 .303-.356l2.5-1a.5.5 0 0 1 .65.278zM9.768 4.607A13.991 13.991 0 0 0 8 4.5c-1.076 0-2.033.11-2.707.278A3.284 3.284 0 0 0 4.645 5c.146.073.362.15.648.222C5.967 5.39 6.924 5.5 8 5.5c.571 0 1.109-.03 1.588-.085l.18-.808zm.292 1.756C9.445 6.45 8.742 6.5 8 6.5c-1.133 0-2.176-.114-2.95-.308a5.514 5.514 0 0 1-.435-.127l.838 8.03c.013.121.06.186.102.215.357.249 1.168.69 2.438.69 1.27 0 2.081-.441 2.438-.69.042-.029.09-.094.102-.215l.852-8.03a5.517 5.517 0 0 1-.435.127 8.88 8.88 0 0 1-.89.17zM4.467 4.884s.003.002.005.006l-.005-.006zm7.066 0-.005.006c.002-.004.005-.006.005-.006zM11.354 5a3.174 3.174 0 0 0-.604-.21l-.099.445.055-.013c.286-.072.502-.149.648-.222z"/>
          </svg>
          <h5 class="card-title">Fullboard</h5>
          <p class="card-description">Makanan sedap ibadah tenang.</p>
        </div>
      </div>

    </div>
  </div>
</div>


  <div class="container" data-aos="fade-up">

    <header class="section-header wow fadeInUp home-feature-description" style="text-align:center">
      <h3 class="home-feature-title" >Tawaran Pakej Kami</h3>
      <p class="home-feature-description">Kami tawarkan pakej umrah yang paling selesa. Lihat janji kami kepada
        anda:</p>
    </header>

    <div class="row" style="margin-top:80px;text-align:center">

      <div class="col-lg-4 col-md-4 box" data-aos="fade-up" data-aos-delay="100">
        <div class="col-lg-2">
          <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="rgb(255, 180, 4)" class="bi bi-hospital" viewBox="0 0 16 16" style="margin-top:25px">
            <path d="M8.5 5.034v1.1l.953-.55.5.867L9 7l.953.55-.5.866-.953-.55v1.1h-1v-1.1l-.953.55-.5-.866L7 7l-.953-.55.5-.866.953.55v-1.1h1ZM13.25 9a.25.25 0 0 0-.25.25v.5c0 .138.112.25.25.25h.5a.25.25 0 0 0 .25-.25v-.5a.25.25 0 0 0-.25-.25h-.5ZM13 11.25a.25.25 0 0 1 .25-.25h.5a.25.25 0 0 1 .25.25v.5a.25.25 0 0 1-.25.25h-.5a.25.25 0 0 1-.25-.25v-.5Zm.25 1.75a.25.25 0 0 0-.25.25v.5c0 .138.112.25.25.25h.5a.25.25 0 0 0 .25-.25v-.5a.25.25 0 0 0-.25-.25h-.5Zm-11-4a.25.25 0 0 0-.25.25v.5c0 .138.112.25.25.25h.5A.25.25 0 0 0 3 9.75v-.5A.25.25 0 0 0 2.75 9h-.5Zm0 2a.25.25 0 0 0-.25.25v.5c0 .138.112.25.25.25h.5a.25.25 0 0 0 .25-.25v-.5a.25.25 0 0 0-.25-.25h-.5ZM2 13.25a.25.25 0 0 1 .25-.25h.5a.25.25 0 0 1 .25.25v.5a.25.25 0 0 1-.25.25h-.5a.25.25 0 0 1-.25-.25v-.5Z"/>
            <path d="M5 1a1 1 0 0 1 1-1h4a1 1 0 0 1 1 1v1a1 1 0 0 1 1 1v4h3a1 1 0 0 1 1 1v7a1 1 0 0 1-1 1H1a1 1 0 0 1-1-1V8a1 1 0 0 1 1-1h3V3a1 1 0 0 1 1-1V1Zm2 14h2v-3H7v3Zm3 0h1V3H5v12h1v-3a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v3Zm0-14H6v1h4V1Zm2 7v7h3V8h-3Zm-8 7V8H1v7h3Z"/>
          </svg>
        </div>
        <div class="col-lg-10">
          <h4 class="home-feature-description">Hotel 5 Bintang 50 Meter</h4>
          <p class="description">Hotel paling selesa paling dekat khas untuk anda. <b>Safwa Tower</b> di Mekah dan
            <b>Hotel Royal Nozol</b> Inn di Madinah</p>
        </div>
      </div>

      <div class="col-lg-4 col-md-4 box" data-aos="fade-up" data-aos-delay="100">
        <div class="col-lg-2">
          <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="rgb(255, 180, 4)" class="bi bi-basket3-fill" viewBox="0 0 16 16" style="margin-top:25px">
            <path d="M5.757 1.071a.5.5 0 0 1 .172.686L3.383 6h9.234L10.07 1.757a.5.5 0 1 1 .858-.514L13.783 6H15.5a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5H.5a.5.5 0 0 1-.5-.5v-1A.5.5 0 0 1 .5 6h1.717L5.07 1.243a.5.5 0 0 1 .686-.172zM2.468 15.426.943 9h14.114l-1.525 6.426a.75.75 0 0 1-.729.574H3.197a.75.75 0 0 1-.73-.574z"/>
          </svg>
        </div>
        <div class="col-lg-10">
          <h4 class="home-feature-description">Fullboard Makanan</h4>
          <p class="description">Takut makanan arab tak kene selera kita? Usah risau, kami uruskan sarapan,makan tengah
            hari dan makan malam sepanjang anda berada di sana dengan menu <b>masakan melayu</b>.</p>
        </div>
      </div>

      <div class="col-lg-4 col-md-4 box" data-aos="fade-up" data-aos-delay="100">
        <div class="col-lg-2">
          <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="rgb(255, 180, 4)" class="bi bi-bag-heart-fill" viewBox="0 0 16 16" style="margin-top:25px">
            <path d="M11.5 4v-.5a3.5 3.5 0 1 0-7 0V4H1v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V4h-3.5ZM8 1a2.5 2.5 0 0 1 2.5 2.5V4h-5v-.5A2.5 2.5 0 0 1 8 1Zm0 6.993c1.664-1.711 5.825 1.283 0 5.132-5.825-3.85-1.664-6.843 0-5.132Z"/>
          </svg>
        </div>
        <div class="col-lg-10">
          <h4 class="home-feature-description">Perlindungan Takaful</h4>
          <p class="description">Perlindungan dan kad takaful disediakn untuk kemudahan dan keselesaan anda jika berlaku
            kecemasan.</p>
        </div>
      </div>

      <div style="margin-top:50px">
        <div class="col-lg-4 col-md-6 box" data-aos="fade-up" data-aos-delay="100">
          <div class="col-lg-2">
            <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="rgb(255, 180, 4)" class="bi bi-bezier2" viewBox="0 0 16 16" style="margin-top:25px">
              <path fill-rule="evenodd" d="M1 2.5A1.5 1.5 0 0 1 2.5 1h1A1.5 1.5 0 0 1 5 2.5h4.134a1 1 0 1 1 0 1h-2.01c.18.18.34.381.484.605.638.992.892 2.354.892 3.895 0 1.993.257 3.092.713 3.7.356.476.895.721 1.787.784A1.5 1.5 0 0 1 12.5 11h1a1.5 1.5 0 0 1 1.5 1.5v1a1.5 1.5 0 0 1-1.5 1.5h-1a1.5 1.5 0 0 1-1.5-1.5H6.866a1 1 0 1 1 0-1h1.711a2.839 2.839 0 0 1-.165-.2C7.743 11.407 7.5 10.007 7.5 8c0-1.46-.246-2.597-.733-3.355-.39-.605-.952-1-1.767-1.112A1.5 1.5 0 0 1 3.5 5h-1A1.5 1.5 0 0 1 1 3.5v-1zM2.5 2a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1zm10 10a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1z"/>
            </svg>
          </div>
          <div class="col-lg-10">
            <h4 class="home-feature-description">Direct Flight KL <-> Saudi</h4>
            <p class="description">Letih transit kapal terbang berjam-jam?<br> Kami tawarkan <b>Direct Flight</b> pergi
              dan
              balik dengan penerbangan <b>MAS (Malaysia Airlines)</b> atau <b>Saudi Air sahaja</b>. Kekal bertenaga
              untuk
              ibadah umrah.</p>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 box" data-aos="fade-up" data-aos-delay="100">
          <div class="col-lg-2">
            <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="rgb(255, 180, 4)" class="bi bi-book-half" viewBox="0 0 16 16" style="margin-top:25px">
              <path d="M8.5 2.687c.654-.689 1.782-.886 3.112-.752 1.234.124 2.503.523 3.388.893v9.923c-.918-.35-2.107-.692-3.287-.81-1.094-.111-2.278-.039-3.213.492V2.687zM8 1.783C7.015.936 5.587.81 4.287.94c-1.514.153-3.042.672-3.994 1.105A.5.5 0 0 0 0 2.5v11a.5.5 0 0 0 .707.455c.882-.4 2.303-.881 3.68-1.02 1.409-.142 2.59.087 3.223.877a.5.5 0 0 0 .78 0c.633-.79 1.814-1.019 3.222-.877 1.378.139 2.8.62 3.681 1.02A.5.5 0 0 0 16 13.5v-11a.5.5 0 0 0-.293-.455c-.952-.433-2.48-.952-3.994-1.105C10.413.809 8.985.936 8 1.783z"/>
            </svg>
          </div>
          <div class="col-lg-10">
            <h4 class="home-feature-description">Kursus Umrah Percuma</h4>
            <p class="description">
              Ibadah umrah sempurna hasil ilmu yang sempurna. Kami pastikan anda betul betul bersedia
              sebelum berlepas ke sana. Buku rujukan umrah juga disediakan.
            </p>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 box" data-aos="fade-up" data-aos-delay="100">
          <div class="col-lg-2">
            <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="rgb(255, 180, 4)" class="bi bi-book-half" viewBox="0 0 16 16">
              <path fill-rule="evenodd" d="M11.5 1.246c.832-.855 2.913.642 0 2.566-2.913-1.924-.832-3.421 0-2.566ZM9 5a3 3 0 1 1-6 0 3 3 0 0 1 6 0Zm-9 8c0 1 1 1 1 1h10s1 0 1-1-1-4-6-4-6 3-6 4Zm13.5-8.09c1.387-1.425 4.855 1.07 0 4.277-4.854-3.207-1.387-5.702 0-4.276ZM15 2.165c.555-.57 1.942.428 0 1.711-1.942-1.283-.555-2.281 0-1.71Z"/>
            </svg>
          </div>
          <div class="col-lg-10">
            <h4 class="home-feature-description">Mesra Warga Emas dan OKU</h4>
            <p class="description">Ingin membawa ibu bapa berkerusi roda? Mutawif dan pasukan kami sentiasa ada bersama
              anda
              untuk membantu menguruskan golongan yang memerlukan.</p>
          </div>
        </div>
      </div>
    </div>

    <div class="row" style="margin-top:50px">
      <span class="home-button" style="text-align:center;background:darkblue;height:3.0rem;margin-bottom:10px" >
        <a href="#testimoni" class="home-button" style="color:white;display:block">
          Testimoni
        </a>
      </span>
      <span class="home-button" style="background:rgba(68, 214,44,1);height:3.0rem" >
        <a href="#umrah-packages" class="home-button" style="color:white;display:block">
          Lihat Pakej
        </a>
      </span>
    </div>

  </div>
</section>
