<section id="umrah-packages" class="section-bg" style="margin-top:50px">
  <div class="container" data-aos="fade-up ">

    <header class="section-header wow fadeInUp home-feature-description" style="text-align:center" id="umrah-feature">
      <h3 class="home-feature-title" style="margin-top:100px;justify-content:center">Pakej Umrah</h3>
      <p class="home-feature-description">Kami tawarkan pakej sesuai untuk semua golongan:</p>
    </header>

    <div class="row portfolio-container " data-aos="fade-up" data-aos-delay="200" style="justify-content:space-between">

      <div class="col-lg-4 col-md-6 portfolio-item filter-app">
        <div class="portfolio-wrap">
          <div class="card" style="width: 50rem;height:700px">
            <%#= image_tag "home/safwa_poster.png", style: "height:500px;width:45rem" %>
            <div class="card-body">
              <h5 style="color:purple;font-size:20px ">Umrah Safwa, Bermula RM7,980</h5>
              <p class="card-text">Pakej termasuk:
              <ul>
                <li>Ziarah Mekah dan Madinah</li>
                <li>Fullboard Makan</li>
                <li>Direct Flight MAS atau Saudi Air</li>
                <li>Beg Edisi Khas</li>
              </ul>
              <span class="home-button" style="background:rgba(68, 214,44,1)">
              <a href="https://api.whatsapp.com/send?phone=601159733027&text=Promo%20Umrah%20Safwa" class="home-button" style="color:white;display:block">
             Hubungi Kami
             </a>
             </span>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 portfolio-item filter-app" style="justify-content:center">
        <div class="portfolio-wrap">
          <div class="card" style="width: 50rem;height:700px">
            <%= image_tag("home/movenpick_poster.jpeg", style: "height:500px;width:45rem") %>
            <div class="card-body ">
              <h5 style="color:purple;font-size:20px">Umrah Premium, Bermula RM9,880</h5>
              <p class="card-text">Pakej termasuk:
              <ul>
                <li>Ziarah Mekah dan Madinah</li>
                <li>Fullboard Makan</li>
                <li>Direct Flight MAS atau Saudi Air</li>
                <li>Beg Edisi Khas</li>
              </ul>
              <span class="home-button" style="background:rgba(68, 214,44,1)">
              <a href="https://api.whatsapp.com/send?phone=601159733027&text=Promo%20Umrah%20Safwa" class="home-button" style="color:white;display:block">
             Hubungi Kami
             </a>
             </span>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 portfolio-item filter-app">
        <div class="portfolio-wrap">
          <div class="card" style="width: 50rem;height:700px">
            <%= image_tag "home/poster_ramadhan.png", style: "height:500px;width:45rem" %>
            <div class="card-body">
              <h5 style="color:purple;font-size:20px ">Umrah Ramadhan, Bermula RM8,180</h5>
              <p class="card-text">Pakej termasuk:
              <ul>
                <li>Ziarah Mekah dan Madinah</li>
                <li>Fullboard Makan</li>
                <li>Direct Flight MAS atau Saudi Air</li>
                <li>Beg Edisi Khas</li>
              </ul>
              <span class="home-button" style="background:rgba(68, 214,44,1)">
              <a href="https://api.whatsapp.com/send?phone=601159733027&text=Promo%20Umrah%20Safwa" class="home-button" style="color:white;display:block">
             Hubungi Kami
             </a>
             </span>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>
