// Place all the styles related to the UmrahCustomers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

table {
  counter-reset: tableCount;
}
.counterCell:before {
  content: counter(tableCount);
  counter-increment: tableCount;
}

.primary_button_text {
  style: "color:white";
}

.customer-form-wrapper {
  font-size: 12px;
}

#update_phone_error_message {
  font-size: 8px;
  color: red;
}

.carousel-description,.card-title,.navbar-title-home {
  font-size: 2.0rem;
  color: white !important;
  font-family: verdana, sans-serif;
  line-height: 1.8;
  &.card-description {
    font-size: 1.5rem;
  }
  &.nav-link {
    font-weight: bold;
  }
}

.logo {
  font-size: 34px;
  margin: 0 0 0 50px;
  padding-left: 10px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  letter-spacing: 3px;
  border-left: 4px solid rgb(255, 180, 4);
  &.nav-link {
    color: white;
  }
}


