<div class="row">
  <div class="col-md-8 container">
    <p id="notice"><%= notice %></p>
    <h1 class="admin-title">New Umrah Customer</h1>
    <%= link_to 'Back', admin_umrah_customers_path, class: "nav-admin-option" %>

    <%= render partial: "admin/umrah_customers/common/customer_form", locals: { is_display_only: false } %>
  </div>
</div>
